body {
	background-color: rgb(199, 86, 86);
}

.picture {
	width: 650px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: url('..//sours/photo_2023-11-05_19-16-11.jpg')center;
}

.picture2 {
	width: 650px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: url('..//sours/photo_2023-11-05_19-16-21.jpg')center;
}


header {
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	color: #ffffff;
}

main {
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 10px;
}

h2 {
	color: #ffffff;
}

p {
	color: #ffffff;
	line-height: 1.2;
}

footer {
	text-align: center;
	margin-top: 20px;
}

p {
	color: #ffffff;
	font-size: 30px;
}

.test {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
}

.center {
	display: inline-block
}

li {
	text-align: left;
}